* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(156deg, #002F59, #004DFF);
    display: flex;
    align-items: center;
    justify-content: center;
}

#startCountainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startbutton {
    color: #1A58CB;
    font-weight: 600;
    width: 50%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#loginPageCountainer {
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 2s ease;
}

#imagePart {
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginCountainer {
    height: 40%;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* justify-content: center; */

}

#loginPart {
    height: 100%;
    width: 50%;
    background:
        linear-gradient(#0066FF, #003D99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#welcomMessage {
    font-weight: 700;
    margin-bottom: 40px;
}

.loginInput {
    height: 35px;
    width: 70%;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#loginButton {
    background-color: #0066FF;
    border: none;
    color: white;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
}

#registerPageCountainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 2s ease;
}

#imagePart {
    height: 100%;
    width: 50%;
}

#registerBlue {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#registerPart {
    background-color: white;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
}

#registerTitle {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 15px;
}

.registerInput {
    height: 35px;
    width: 45%;
    margin: 10px;
    padding: 2px 10px;
    border: solid black 1px;
    border-radius: 10px;
}

#registerButton {
    background-color: #0066FF;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    min-width: 20%;
    margin: 20px;
    cursor: pointer;
}

.alert {
    height: 40px;
    width: 300px;
    background-color: red;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: 500;
    opacity: 0;
    transform: translateY(10px);
    transition:
        opacity 0.35s ease,
        transform 0.35s ease;
    pointer-events: none;
    ;
}

.alert.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
#homePageCountainer{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    
}
#filterSide{
    height: 98%;
    width: 20%;
    background-color: rgba(215, 233, 250, 0.541);
    margin-top: 10px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 10px;
}
#MessageSide{
    height: 98%;
    width: 20%;
    background-color: rgba(215, 233, 250, 0.541);
    margin-top: 10px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 10px;
}
#postSide{
     height: 98%;
    width: calc(60% - 20px);
    background-color: rgba(240, 240, 240, 0.616);
    margin-top: 10px;
}
#postCountainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    /* margin-top: 10px; */
}
#navBar{
    flex-shrink: 0;
    height: 70px;
    width: 50%;
    background-color: rgba(215, 233, 250, 0.541);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;

}
#navBar #add,#heart,#user,#save {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 11px;
    color: rgb(100, 100, 100);
}
#home{
    background-color: rgb(0, 0, 172);
     height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 11px;
    color:rgba(215, 233, 250, 0.541);
;
}
#post{
    cursor: pointer;
    height:45%;
    width: 70%;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
}
#image{
    height: 100%;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
#image img{
    height: 90%;
    width: 100%;
    border-radius: 20px;

}
#postContent{
    height: 80%;
    width: 90%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    height: 25%;
    width: 90%;
    /* background-color: green; */
    display: flex;
    gap: 10px;
    
}
#date{
    height: 100%;
    width: 60px;
    background-color: rgba(215, 233, 250, 0.541);
    border-radius: 10px;
    color: rgb(0, 0, 172) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#date #day{
    /* background-color: blueviolet; */
    height: 50%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
}
#date #month{
    /* background-color: chartreuse; */
    width: 70%;
    font-size: 15px;
    font-weight: 50;
}

#postTitleInfo #postTitle{
    /* background-color: blue; */
    height: 70%;
    font-weight: 600;
    font-size: 18px;
}
#postTitleInfo #info{
    color: gray;
    font-size: 13px;
}
#content{
    /* background-color: chocolate; */
    width: 90%;
    margin-top: 20px;
}
#profile{
    /* background-color: aqua; */
    height:10%;
    width: 90%;
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    gap: 10px;
}
#imageDiv{
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
#imageDiv img{
    height: 100%;
}
#reactions{
    /* background-color: blue; */
    width: 90%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;

}
#like{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
}
#comment{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
}
/* width of scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* background of scrollbar */
::-webkit-scrollbar-track {
  background: rgba(215, 233, 250, 0.541)
}

/* the moving bar */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 204);
  border-radius: 10px;
}

/* when hover on it */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
#filterSide #logSearch{
    /* background-color: red; */
    display: flex;
    height: 10%;
    align-items: center;
    /* justify-content: center; */
    gap:10px;
    justify-content: center;
}
#logSearch img{
    height: 60px;
    width: 60px;
    /* background-color: gray; */

}
#logSearch #search{
    width: 50%;
    height: 50%;
    background-color: rgba(148, 161, 173, 0.541);
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
}
#filter{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
#filter #filterTitle {
    /* background-color: gray; */
    height: 60px;
    padding: 0px 0px 0px 20px;
}
#likedByMe{
    /* background-color: green; */
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 60px;
        padding: 0px 0px 0px 40px;

}
#SavedByMe{
     /* background-color: green; */
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 60px;
    padding: 0px 0px 0px 40px;

}
#messages{
    /* background-color: red; */
    width: 100%;
    height: 100%;
}
#messagesTitle{
    height: 60px;
    padding: 0px 0px 0px 20px;
    margin-top: 15px;
}
#message{
    /* background-color: green; */
    display: flex;
    height: 50px;
    align-items: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
}
#profileImage{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    overflow: hidden;
} 
#online{
    height: 12px;
    width: 12px;
    background-color: green;
    position: absolute;
    transform: translate(30px,20px);
    border-radius: 20px;
}
#profileImage img{
    height: 100%;
    width: 100%;
}
#timeAndNotf{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aqua; */
    width: 40%;
}
#timeAndNotf p{
  flex-shrink: 0;
}
#notf{
    background-color: rgb(0, 0, 204);
    border-radius: 20px;
    padding: 2px;
    color: white;
    font-weight: 500;
    display: none;
}
.test #timeAndNotf #time  {
    display: none;
}
.test #timeAndNotf #notf  {
    display: flex;
    height: 10px;
    width: 10px;
    border-radius: 20px;
}

/*creat Post*/
#creatPostPage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cancelCreatPost{
    height: 66%;
    cursor: pointer;
}
#creatPostCountainer{
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.637);
    /* justify-content: center; */
}
#creatPostTitle{
    margin: 20px;
}
.creatPostIput{
    margin-bottom: 20px;
    height: 35px;
    width: 40%;
    padding: 0px 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.uploadImage{
    height: 100px;
    width: 200px;
    margin: 20px 0px;
    cursor: pointer;
      position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 40px;
  color: #007bff;
}



.uploadImage input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  cursor: pointer;
}

#fileName {
  display: block;
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
}


#creatPostButton{
    margin-top: 30px;
    height: 50px;
    width: 100px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
}