* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(156deg, #002F59, #004DFF);
    display: flex;
    align-items: center;
    justify-content: center;
}

#startCountainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startbutton {
    color: #1A58CB;
    font-weight: 600;
    width: 50%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#loginPageCountainer {
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 2s ease;
}

#imagePart {
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginCountainer {
    height: 40%;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* justify-content: center; */

}

#loginPart {
    height: 100%;
    width: 50%;
    background:
        linear-gradient(#0066FF, #003D99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#welcomMessage {
    font-weight: 700;
    margin-bottom: 40px;
}

.loginInput {
    height: 35px;
    width: 70%;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#loginButton {
    background-color: #0066FF;
    border: none;
    color: white;
    height: 40px;
    width: 110px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
}

#registerPageCountainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 2s ease;
}

#imagePart {
    height: 100%;
    width: 50%;
}

#registerBlue {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#registerPart {
    background-color: white;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 20px;
}

#registerTitle {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 15px;
}

.registerInput {
    height: 35px;
    width: 45%;
    margin: 10px;
    padding: 2px 10px;
    border: solid black 1px;
    border-radius: 10px;
}

#registerButton {
    background-color: #0066FF;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    min-width: 20%;
    margin: 20px;
    cursor: pointer;
}

.alert {
    height: 40px;
    width: 300px;
    background-color: red;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: 500;
    opacity: 0;
    transform: translateY(10px);
    transition:
        opacity 0.35s ease,
        transform 0.35s ease;
    pointer-events: none;
    ;
}

.alert.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.HomePageCountainer{
    height: 100%;
    width: 100%;
}
.navBar{
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.3) ;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: white;
}
#iconesCountainer{
    height: 100%;
    display: flex;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    margin-right: 60px;
}
#iconesCountainer i{
    height: 30px;
    cursor: pointer;
    width: 30px;
    padding:10px 15px;
    font-size: 30px;
    /* width: 100%; */
}
.logoCountainer{
    height: 90%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#scrollingPageCountainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#postSide{
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
}
.post{
    width: 60%;
    height: 60%;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.089);
}
.profileCountainer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.profileCountainer img{
    height: 100%;
}
.imagePost{
    height: 420px;
    width: 100%;
}
.imagePost img{
    height: 100%;
    width: 100%;
}
.icons{
    display: flex;
    padding: 0px 15px;
    height: 60px;
}
.likeComment{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.likeComment i{
    height: 100%;
    width: 30px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.781);

}
.save{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.save i{
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.781);
}
.filterMessageSide{
    height: 100%;
    width: 30%;
}
.filterMessageCountainer{
    height: 100%;
    width: 100%;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.3) ;
}
#creatPostPage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cancelCreatPost{
    height: 66%;
    cursor: pointer;
}
#creatPostCountainer{
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.637);
    /* justify-content: center; */
}
#creatPostTitle{
    margin: 20px;
}
.creatPostIput{
    margin-bottom: 20px;
    height: 35px;
    width: 40%;
    padding: 0px 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.uploadImage{
    height: 100px;
    width: 200px;
    margin: 20px 0px;
    cursor: pointer;
      position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 40px;
  color: #007bff;
}



.uploadImage input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  cursor: pointer;
}

#fileName {
  display: block;
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
}


#creatPostButton{
    margin-top: 30px;
    height: 50px;
    width: 100px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
}